/* Desktop Version Styles */

html {
  font-size: 18px;
  line-height: 1.4;
}

/* Header Section Styles */

.slogan-container {
  display: flex;
  background-image: url(../resources/glasses-bg.png);
  width: 100%;
  height: 31rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-container {
  margin-top: 1rem;
  display: flex;
  width: 60%;
  background-color: cadetblue;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo-container {
  display: flex;
  margin: 0;
  align-items: center;
}

.logo-container img {
  height: 1.5rem;
  margin-right: 1rem;
}

.logo-container h4,
.menu-item h4 {
  font-family: helvetica;
  font-size: 1rem;
  color: white;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin: 0rem 1rem;
}

.slogan-box-container {
  display: flex;
  position: relative;
  width: 60%;
  left: 2rem;
  justify-content: flex-end;
}

.slogan-box {
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
}

#slogan {
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: grey;
}

/* Features Section Styles */

.features-container {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.features-sub-container {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 3rem 0;

}

.box-container {
  display: flex;
  height: 8rem;
  width: 5rem;
  margin: 0 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 3.5rem;
}

.icon-label {
  margin: 0;
}

.icon-label h4 {
  color: grey;
  width: 100%;
  margin: 0;
  text-align: center;
}

/* About Section Styles */

.about-master {
  display: flex;
  width: 100%
  margin: 0;
  justify-content: center;
}

.about-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: flex-start;
}

.about-sub-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.sub-head {
  padding-left: 1.25rem;
  padding-right: 2rem;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
}

.sub-head h2 {
  padding: 0.5rem 0;
}

/*Footer Section Styles */

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-sub-container {
  width: 80%;
  background-color: azure;
}

.footer-box {
  margin: 4rem;
  display: flex;
  align-items: center;

}

.footer-box img {
  margin-right: 1rem;
  height: 1.5rem;
}


/* Tablet Media Query Styles */

@media only screen and (min-width: 471px) and (max-width: 1024px) {

  .slogan-container {
    height: 22rem;
  }

  .header-container {
    margin-top: 0rem;
  }

  .slogan-box-container {
    width: 100%;
    justify-content: flex-end;

  }

  .slogan-box {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  #slogan {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

  .features-sub-container {
    width: 100%;

  }

}


/* Mobile Media Query Styles */
